<h1>
    Welcome to ERB Barbershop!
</h1>

<p> We are open </p>

<form action="/" method="POST">
  Your name:
  <input type="text" name="userName" /> <br />
  Your phone number:
  <input type="text" name="userPhoneNumber" /> <br />
  Date and time:
  <input type="text" name="dateAndTime" /> <br />

  <input type="submit"/> <br />
</form>
