<h1>
  Hello my master
</h1>

  <form action="/admin" method="POST">
    Give me what you got:
    <input type="password" name="adminPassword">
    <input type="submit" />
  </form>

<a href='/'>home</a>
