<h1>
    Welcome to ERB Barbershop!
</h1>

<p> We are open </p>

<form action="/" method="POST">
  Your name:<br />
  <input type="text" name="userName" /> <br />
  Your phone number:<br />
  <input type="text" name="userPhoneNumber" /> <br />
  Date and time:<br />
  <input type="text" name="dateAndTime" /> <br />
<br />
  <input type="submit"/> <br />
</form>

<a href='/admin'>for the boss</a>
