<h1>Hi, i am erb</h1>
<a href='/contacts'>Contacts</a>

<p><span style="color:red;">Access denied!!!</span></p>

<form action="/" method="POST">

  <input type="test" name="name" />
  <input type="password" name="password" />
  <input type="submit" />

</form>
