<h1>Hi, i am erb</h1>
<a href='/contacts'>Contacts</a>
<a href='/faq'>faq</a>
<a href='/something'>something</a>

<p><span style="color:green;">You typed <%= @login %></span></p>
<p><span style="color:blue;">Your password <%= @password %></span></p>

<p><span style="color:red;"><%= @message %></span></p>

<form action="/" method="POST">

  <input type="test" name="name" />
  <input type="password" name="password" />
  <input type="submit" />

</form>
